.searchInput {
  margin-bottom: 43px;
  width: 100%;
  max-width: 561px;
  padding-top: 10px;
  padding-bottom: 9px;
  padding-left: 16px;
  padding-right: 16px;

  border: none;
  border-radius: 4px;

  font-family: Helvetica;
  font-size: 14px;
  line-height: 150%;

  background: rgba(239, 239, 239, 0.7);
}
